# Java
*/target/
*/pom.xml.tag
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup

# Angular
*/node_modules/
*/dist/
*.log

# IDE
.idea/
*.iml
.vscode/

# Docker
docker/keycloak/data/

# Environment
*.env
application-local.yml
